<!doctype>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<% include menu.ejs %>
<form action="#">

    用户名: <input type="text" id="login_name" placeholder="输入用户名">
    <br>
    密码: <input type="password" id="login_password">
    <br>
    <button type="submit" id="submit">登录</button>

</form>
</body>
</html>