<!DOCTYPE>
<html>
<body>
<nav>
    <ul>
        <a href="/home" title="主页">home</a></li>
        <a href="/login" title="登录">login</a></li>
        <a href="/register" title="注册">register</a></li>
    </ul>
</nav>
</body>
<script type="text/javascript" src="/javascripts/Utils.js"></script>
<script type="text/javascript" src="/javascripts/menu.js"></script>
</html>