<!DOCTYPE html>


<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include menu.ejs %>
<form action="#">
    <span>用户名: <input type="text" placeholder=""></span>
    <span>密  码: <input type="text" placeholder=""></span>
    <span>确认密码: <input type="text" placeholder=""></span>
    <span>邮箱: <input type="text" placeholder=""></span>

    <button type="submit" value="注册">注册</button>

</form>
</body>
</html>